*.o
*.a
andi
randomSeed.dat
seedms
testRMQ
docs/html/*
docs/latex/*
docs/andi.1
*.in
!docs/andi.1.in
*.log
**/Makefile
configure.scan
config.status
depcomp
install-sh
aclocal.m4
**/.deps/
autom4te.cache/
README
missing
configure

*.fasta
cachegrind*
callgrind*

# for legacy git only:
libs/RMQ/.deps/
libs/RMQ/Makefile
Makefile

