Source: andi
Section: science
Priority: optional
Maintainer: Fabian Klötzl <kloetzl@evolbio.mpg.de>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, dh-autoreconf
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/andi.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/andi.git;a=summary

Package: andi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The andi program for estimating genome diversity.
 <insert long description, indented with spaces>
